.navbar{
    background-color: rgb(51, 136, 5);
    display: flex;
    padding: 3px;
    box-shadow: 1px 1px 1px ;
}
.navbar a{
    background-color: aliceblue;
    float: left;
    padding: 5px;
    border-radius: 3px;
    font-size: larger;
    text-shadow: 1px 1px 1px grey;
    box-shadow: 1px 1px 1px ;
    margin: 3px; 
}
.navbar a:hover{
    box-shadow: 3px 3px 3px ;
}
.navbar a:active{
    box-shadow: 3px 3px 3px inset;
}
